* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  resize: both;
}

.list-style-none {
  list-style: none;
}

.compacted {
  width: 80%;
  margin: 0 auto;
}

.float-l {
  float: left;
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

.green-buttons {
  background-color: #7fb802;
}

.radius {
  border-radius: 5px;
}

a.login {
  margin: 0 20px;
  border: 1px solid #4e8cb6;
  padding: 0 40px;
}

#container {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  height: 450px;
  background-color: #0d325a;
}
header a {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

nav {
  height: 15%;
  padding-top: 20px;
}
nav a {
  float: left;
  line-height: calc(45px + 45px / 2 - 20px);
  padding: 0 15px;
}

.logo {
  width: 10%;
}
.logo a {
  padding: 0 20px 0 0;
}
.logo img{
  transform: translateY(-10%);
}

.menu,
.links {
  width: 45%;
}
.links li:first-child a {
  color: rgba(255,255,255,.5);
}
.header-main {
  position: relative;
  height: 85%;
  color: white;
}
.header-main::after {
  content: url(../img/oldman.png);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0.5) translateY(60%);
}
.header-main > div {
  position: absolute;
  transform: translateY(50%);
}
.header-main h1 {
  font-size: 50px;
  width: 70%;
}
.header-main a {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
}

main {
  text-align: center;
}
/* sezione grigia sotto l'header */
.main-top {
  position: relative;
  height: 90px;
  background-color: #d3d3d3;
}
.main-top > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-top h3 {
  font-size: 20px;
}
.main-top h4 {
  font-size: 13px;
  color: #808080;
}
/* /sezione grigia sotto l'header */

/* sezione centrale superiore */
.main-middle {
  padding-top: 40px;
}
.main-middle-div {
  width: 30%;
}
.main-middle-div:nth-child(2) {
  margin: 0 5%;
}
.main-middle-div h2 {
  padding: 20px 0 ;
  color: #a3cf5e;
  width: 80%;
  margin: 0 auto;
}
.main-middle-div hr {
  width:20%;
  margin: 20px auto;
  border: 2px solid #d3d3d3;
}
.main-middle-img {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.img1 {
  background-image: url(../img/profile.png);
}
.img2 {
  background-image: url(../img/computer.png);
}
.img3 {
  background-image: url(../img/doc.png);
}

/* /sezione centrale superiore */
main > hr {
  width: 98%;
  margin: 40px auto ;
  border: 2px solid #d3d3d3;
}
